*{
  margin: 0px;
  padding: 0px;
}
div{
  border: 1px solid red;
  height: 300px;
  width: 100%;
}
#nav-menu{
  display: flex;
  padding: 0px 50px;
  justify-content: space-between;
  height: 100px;
}
#nav-menu>div{
  height: 100px;
}